body {
    background-color: #eaeaea;
    overflow: hidden;
}

.container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px; /* Adjust maximum width as needed */
    height: auto;
    padding: 5%;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

#slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.item {
    width: 40%;
    min-width: 200px; /* Adjust minimum width as needed */
    height: 300px;
    margin: 2.5%;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    position: relative;
    z-index: 1;
}

.item:nth-child(1),
.item:nth-child(2) {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
}

.item:nth-child(3) {
    width: 40%;
}

.item:nth-child(4) {
    width: 40%;
}

.item:nth-child(5) {
    width: 40%;
}

.item:nth-child(n+6) {
    display: none;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: #eee;
    font-family: 'Osaka-Sans Serif', sans-serif;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 11111;
}

.item .name {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: bold;
}

.item .des {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin: 20px 0;
}

.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

.buttons {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222222;
    text-align: center;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    margin: 0 5px;
    transition: 0.5s;
}

.buttons button:hover {
    background-color: #bac383;
}

.underline {
    text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 2%;
    }

    .item {
        width: 90%;
    }

    .buttons {
        width: 90%;
    }
}
